html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}
a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
optgroup,
select,
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  overflow-x: hidden;
  background: black;
}

.active {
  font-style: italic;
  border-bottom: 1px solid black !important;
}

.mobile-nav-wrapper {
  visibility: visible;
  width: 100vw;
  padding: 5px;
  position: fixed;
  z-index: 2;
  background-color: rgba(210, 210, 210, 1);
  img {
    width: 28px;
    height: 28px;
  }
}

.hamburger-menu-wrapper {
  width: 50vw;
  visibility: hidden;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(210, 210, 210, 1);
  border: 1px solid black;

  .close-button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    position: relative;
    .close-icon {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  span {
    width: 100%;
    display: block;

    a {
      display: block;
      width: 100%;
      padding: 5px;
      color: black;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1rem;
      text-decoration: none;
    }
  }

  hr {
    border: none;
  }
}

.nav-wrapper {
  visibility: hidden;
  padding: 1px 20px 1px 20px;
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 500;

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #logo img {
      width: 50px;
      height: 50px;

      -webkit-animation: logo 3s ease-in;
      -o-animation: logo 3s ease-in;
      -ms-animation: logo 3s ease-in;
      -moz-animation: logo 3s ease-in;
      animation: logo 3s ease-in;

      @keyframes logo {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }

  .links-wrapper {
    display: inline-flex;
    align-items: center;

    a {
      padding: 0px 10px 0px 10px;
      color: black;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 0.8rem;
      text-decoration: none;
    }

    .link-divider {
      margin: 0px 5px 0px 5px;
      width: 0px;
      height: 0px;
    }
  }
}

.page-wrapper {
  min-width: 200px;
}

.home-wrapper {
  background: url("../public/hero-image/hero-image.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0078ff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  color: black;

  .overlay-wrapper {
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;

    .chevrons {
      cursor: pointer;
      position: relative;
      width: 28px;
      height: 50px;
    }
    .chevron {
      position: absolute;
      width: 28px;
      height: 8px;
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      animation: move 3s ease-out infinite;
    }
    
    .chevron:first-child {
      animation: move 3s ease-out 1s infinite;
    }
    
    .chevron:nth-child(2) {
      animation: move 3s ease-out 2s infinite;
    }
    
    .chevron:before,
    .chevron:after {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      width: 51%;
      background: black;
    }
    
    .chevron:before {
      left: 0;
      transform: skew(0deg, 30deg);
    }
    
    .chevron:after {
      right: 0;
      width: 50%;
      transform: skew(0deg, -30deg);
    }
    
    @keyframes move {
      25% {
        opacity: 1;
    
      }
      33% {
        opacity: 1;
        transform: translateY(30px);
      }
      67% {
        opacity: 1;
        transform: translateY(40px);
      }
      100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
      }
    }
  
    
    @keyframes pulse {
      to {
        opacity: 1;
      }
    }
  }
}

// .skills-wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;

//   img {
//     width: 30px;
//     height: 30px;
//   }
// }

.projects-section-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

  .projects-content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .project-wrapper {
      margin-bottom: 5px;
      margin-top: 5px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(210, 210, 210, 1);

      .project-title {
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
      }
      .project-description-wrapper {
        width: 100%;
        font-family: 'Roboto Condensed', sans-serif;

        a {
          color: black;
        }
      }
      .project-image-wrapper {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.contact-section-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .contact-form-wrapper {
    max-width: 300px;
    width: 100%;
    min-height: 200px;
    background: rgba(210, 210, 210, 1);
    form {
      display: flex;
      flex-direction: column;
      align-items: left;
      font-family: 'Roboto Condensed', sans-serif;
      width: 100%;
      ::placeholder {
        color: rgba(0, 0, 0, 0.5);
        opacity: 1;
      }
      .email-field-wrapper {
        width: 100%;
        .email-field {
          margin: auto;
          width: 90%;
          margin-top: 15px;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 5px;
          }
          .email-input {
            padding: 5px;
            border-bottom: 1px solid black;
          }
        }
      }
      .message-field-wrapper {
        width: 100%;
        .message-field {
          margin: auto;
          width: 90%;
          min-height: 100px;
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 10px;
          }
          .message-input {
            height: 100px;
            max-height: 200px;
            padding: 5px;
            resize: vertical;
            border-bottom: 1px solid black;
          }
        }
      }
      .submit-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .submit-button {
          width: 80px;
          margin: 10px;
          padding: 5px;
          color: rgba(210, 210, 210, 1);
          background: black;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .projects-section-wrapper {
    .projects-content {
      width: 90%;
      flex-direction: row;
      .project-wrapper {
        margin-left: 5px;
        margin-right: 5px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;

        .project-title {
        }
        .project-description-wrapper {
        }
        .project-image-wrapper {
          padding: 10px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .mobile-nav-wrapper,
  .hamburger-menu-wrapper {
    visibility: hidden;
  }

  .nav-wrapper {
    visibility: visible;
  }

  .home-wrapper {
    .content-wrapper {
      max-width: 400px;

      .social-links-and-logo-wrapper {
        .social-links-wrapper {
          .social-icon {
            width: 40px;
            height: 40px;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }

        .logo-wrapper {
          .icon-wrapper {
            width: 100px;
            height: 100px;
          }
        }
      }

      .skills-wrapper {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
