html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}
a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
optgroup,
select,
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .mobile-nav-wrapper {
    visibility: visible !important;
  }

  .nav-wrapper {
    visibility: hidden !important;
  }
}

.mobile-nav-wrapper {
  visibility: hidden;
  width: 100vw;
  padding: 10px;
  position: fixed;
  img {
    width: 28px;
    height: 28px;
  }
}

.hamburger-menu-wrapper {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #81fbb8;
  border: 1px solid black;
  visibility: hidden;

  .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 20px;
      height: 20px;
    }
  }

  li {
    a {
      color: black;
      font-family: 'Cutive Mono', monospace;
      font-size: 1.2rem;
      text-decoration: none;
    }
  }

  hr {
    border: none;
  }
}

.nav-wrapper {
  padding: 10px 0px 10px 0px;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;

  .links-wrapper {
    margin-left: 20px;
    background: #81fbb8;
    a {
      margin-left: 10px;
      padding: 0px 10px 0px 10px;
      color: black;
      border-left: 1px solid black;
      text-align: center;
      font-family: 'Cutive Mono', monospace;
      font-size: 0.8rem;
      text-decoration: none;
    }

    a:first-child {
      border: none;
    }
  }
}

.page-wrapper {
  width: 100vw;

  .home-wrapper {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
    .content-wrapper {
      max-width: 400px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .social-links-and-logo-wrapper {
        margin-bottom: 0.7rem;
        display: flex;
        justify-content: center;

        .social-links-wrapper {
          display: flex;
          flex-direction: column;

          .social-icon {
            width: 40px;
            height: 40px;
            margin: 2px;
            border-radius: 100%;
            border: 1px solid black;
            display: block;
            position: relative;
            img {
              width: 25px;
              height: 25px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        .logo-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .icon-wrapper {
            width: 100px;
            height: 100px;
            margin: 0.2rem;
            position: relative;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .name-and-title-wrapper {
            margin: 0.5rem;
            margin-top: 0;
            padding: 0px 5px 0px 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Cutive Mono', monospace;

            .name-wrapper {
              font-size: 1.5rem;
            }

            .title-wrapper {
              font-size: 0.8rem;
            }
          }
        }
      }

      .skills-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .projects-section-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }

  .contact-section-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #e4e4e1;
    background-image: radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.03) 0%,
        rgba(0, 0, 0, 0.03) 100%
      ),
      linear-gradient(
        to top,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(143, 152, 157, 0.6) 100%
      );
    background-blend-mode: normal, multiply;
  }
}
