html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box; }

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

button,
input,
optgroup,
select,
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

body {
  width: 100vw;
  overflow-x: hidden; }

.active {
  background: black !important; }
  .active a {
    color: #81fbb8 !important; }

.mobile-nav-wrapper {
  visibility: visible;
  width: 100vw;
  padding: 10px;
  position: fixed;
  z-index: 2; }
  .mobile-nav-wrapper img {
    width: 28px;
    height: 28px;
    background: #81fbb8; }

.hamburger-menu-wrapper {
  visibility: hidden;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: #81fbb8;
  border: 1px solid black; }
  .hamburger-menu-wrapper .close-icon {
    position: absolute;
    top: 0;
    right: 0; }
    .hamburger-menu-wrapper .close-icon img {
      width: 20px;
      height: 20px; }
  .hamburger-menu-wrapper li a {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    text-decoration: none; }
  .hamburger-menu-wrapper hr {
    border: none; }

.nav-wrapper {
  visibility: hidden;
  padding: 10px 0px 10px 0px;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  z-index: 2; }
  .nav-wrapper .links-wrapper {
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    background: #81fbb8; }
    .nav-wrapper .links-wrapper a {
      padding: 0px 10px 0px 10px;
      color: black;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 0.8rem;
      text-decoration: none; }
    .nav-wrapper .links-wrapper .link-divider {
      margin: 0px 5px 0px 5px;
      width: 0px;
      height: 0px; }

.page-wrapper {
  min-width: 200px;
  width: 100vw; }

.home-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%); }
  .home-wrapper .content-wrapper {
    max-width: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .home-wrapper .content-wrapper .social-links-and-logo-wrapper {
      margin-bottom: 0.7rem;
      display: flex;
      justify-content: center; }
      .home-wrapper .content-wrapper .social-links-and-logo-wrapper .social-links-wrapper {
        display: flex;
        flex-direction: column; }
        .home-wrapper .content-wrapper .social-links-and-logo-wrapper .social-links-wrapper .social-icon {
          width: 30px;
          height: 30px;
          margin: 2px;
          border-radius: 100%;
          border: 1px solid black;
          display: block;
          position: relative; }
          .home-wrapper .content-wrapper .social-links-and-logo-wrapper .social-links-wrapper .social-icon img {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
      .home-wrapper .content-wrapper .social-links-and-logo-wrapper .logo-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .home-wrapper .content-wrapper .social-links-and-logo-wrapper .logo-wrapper .icon-wrapper {
          width: 80px;
          height: 80px;
          margin: 0.2rem;
          position: relative; }
          .home-wrapper .content-wrapper .social-links-and-logo-wrapper .logo-wrapper .icon-wrapper img {
            width: 100%;
            height: 100%; }
        .home-wrapper .content-wrapper .social-links-and-logo-wrapper .logo-wrapper .name-and-title-wrapper {
          margin: 0.5rem;
          margin-top: 0;
          padding: 0px 5px 0px 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: 'Roboto Condensed', sans-serif; }
          .home-wrapper .content-wrapper .social-links-and-logo-wrapper .logo-wrapper .name-and-title-wrapper .name-wrapper {
            font-size: 1.5rem; }
          .home-wrapper .content-wrapper .social-links-and-logo-wrapper .logo-wrapper .name-and-title-wrapper .title-wrapper {
            font-size: 0.8rem; }
    .home-wrapper .content-wrapper .skills-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .home-wrapper .content-wrapper .skills-wrapper img {
        width: 30px;
        height: 30px; }

.projects-section-wrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); }

.contact-section-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black; }
  .contact-section-wrapper .contact-form-wrapper {
    max-width: 300px;
    width: 100%;
    min-height: 200px;
    background: #81fbb8; }
    .contact-section-wrapper .contact-form-wrapper form {
      display: flex;
      flex-direction: column;
      align-items: left;
      font-family: 'Roboto Condensed', sans-serif;
      width: 100%; }
      .contact-section-wrapper .contact-form-wrapper form .email-field-wrapper {
        width: 100%; }
        .contact-section-wrapper .contact-form-wrapper form .email-field-wrapper .email-field {
          margin: auto;
          width: 90%;
          margin-top: 15px;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column; }
          .contact-section-wrapper .contact-form-wrapper form .email-field-wrapper .email-field label {
            margin-bottom: 5px; }
          .contact-section-wrapper .contact-form-wrapper form .email-field-wrapper .email-field .email-input {
            padding: 5px;
            border-bottom: 1px solid black; }
      .contact-section-wrapper .contact-form-wrapper form .message-field-wrapper {
        width: 100%; }
        .contact-section-wrapper .contact-form-wrapper form .message-field-wrapper .message-field {
          margin: auto;
          width: 90%;
          min-height: 100px;
          display: flex;
          flex-direction: column; }
          .contact-section-wrapper .contact-form-wrapper form .message-field-wrapper .message-field label {
            margin-bottom: 10px; }
          .contact-section-wrapper .contact-form-wrapper form .message-field-wrapper .message-field .message-input {
            height: 100px;
            max-height: 200px;
            padding: 5px;
            resize: vertical;
            border-bottom: 1px solid black; }
      .contact-section-wrapper .contact-form-wrapper form .submit-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end; }
        .contact-section-wrapper .contact-form-wrapper form .submit-button-wrapper .submit-button {
          width: 80px;
          margin: 10px;
          padding: 5px;
          color: #81fbb8;
          background: black; }

@media (min-width: 600px) {
  .mobile-nav-wrapper,
  .hamburger-menu-wrapper {
    visibility: hidden; }
  .nav-wrapper {
    visibility: visible; }
  .home-wrapper .content-wrapper {
    max-width: 400px; }
    .home-wrapper .content-wrapper .social-links-and-logo-wrapper .social-links-wrapper .social-icon {
      width: 40px;
      height: 40px; }
      .home-wrapper .content-wrapper .social-links-and-logo-wrapper .social-links-wrapper .social-icon img {
        width: 25px;
        height: 25px; }
    .home-wrapper .content-wrapper .social-links-and-logo-wrapper .logo-wrapper .icon-wrapper {
      width: 100px;
      height: 100px; }
    .home-wrapper .content-wrapper .skills-wrapper img {
      width: 40px;
      height: 40px; } }
