html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}
a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
optgroup,
select,
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

::-webkit-scrollbar {
  display: none;
}

$grey: #1e1e20;
$blue: #16ade3;
$box: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
$font: "Mukta", sans-serif;
$minWidth: 300px;

body {
  min-width: $minWidth;
  overflow-x: hidden;
  background-color: $grey;
  font-family: $font;
}

html {
  overflow-x: hidden;
}

// .page-wrapper {
//   min-width: 200px;
// }

.hide {
  visibility: hidden;
}

.active {
  font-style: italic;
  border-bottom: 1px solid white !important;
}

.modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, .9);
  width: 100vw;
  height: 100vh;
  min-width: $minWidth;
  z-index: 500;

  .close-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;

    background-position: center;
    background-size: contain;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .modal-content {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .screenshot-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .current-slide-img-wrapper {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        #current-slide-img {
          width: 90vw;
          // margin-top: 40px;
        }
      }

      #carousel-wrapper {
        width: 200px;
        height: 100px;
        margin-top: 20px;
        .carousel-item {
          // overflow: hidden;
          // height: 200px;
          // position: relative;
        }

        .carousel-image {
          // width: 80%;
          // height: auto;
        }
      }
    }

    .slick-slide.slick-center {
      opacity: 1;
    }

    .slick-slider,
    .slick-list,
    .slick-track {
      height: 100%;
    }

    .slick-slide {
      width: auto;
      height: 100px;
      opacity: 0.5;
    }

    .slick-slide img {
      width: auto;
      height: 100px;
    }

    // .slick-prev {
    //   left: 20px !important;
    //   z-index: 100;
    // }

    // .slick-next {
    //   right: 20px !important;
    //   z-index: 100;
    // }

    .slick-prev:before {
      opacity: 1;
    }

    .slick-next:before {
      opacity: 1;
    }

    .slick-dots li button:before {
      color: white;
    }

    .project-info-wrapper {
      width: 100%;

      .project-modal-title-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        .view-site-icons{
          display: flex;
          flex-wrap: wrap;
          padding-left: 5px;
          padding-right: 5px;
          img {
            padding: 5px;
            width: 30px;
            height: 30px;
          }
        }
      }

      #project-modal-title {
        font-size: 2rem;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
      }

      #project-modal-description {
        font-size: 1rem;
        color: white;
        overflow-y: scroll;
        padding: 10px;
      }

      .project-modal-tech {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: center;
        
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.mobile-nav-wrapper {
  visibility: visible;
  width: 100vw;
  padding: 5px;
  position: fixed;
  z-index: 2;
  background-color: $grey;
  img {
    width: 28px;
    height: 28px;
  }
}

.hamburger-menu-wrapper {
  width: 50vw;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: $grey;
  border: 1px solid $blue;
  box-shadow: $box;

  .active {
    background: $blue;
    border-bottom: none !important;
  }

  .close-button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    position: relative;
    .close-icon {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  span {
    width: 100%;
    display: block;

    a {
      display: block;
      width: 100%;
      padding: 5px;
      color: white;

      font-size: 1rem;
      text-decoration: none;
    }
  }

  hr {
    border: none;
  }
}

.nav-wrapper {
  visibility: hidden;
  padding: 1px 20px 1px 20px;
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 500;

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #logo img {
      width: 50px;
      height: 50px;

      -webkit-animation: logo 3s ease-in;
      -o-animation: logo 3s ease-in;
      -ms-animation: logo 3s ease-in;
      -moz-animation: logo 3s ease-in;
      animation: logo 3s ease-in;

      @keyframes logo {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }

  .links-wrapper {
    display: inline-flex;
    align-items: center;

    a {
      padding: 0px 10px 0px 10px;
      color: white;
      text-align: center;

      font-size: 0.8rem;
      text-decoration: none;
    }

    .link-divider {
      margin: 0px 5px 0px 5px;
      width: 0px;
      height: 0px;
    }
  }
}

.home-wrapper {
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: auto 50%;
  background-image: url("../public/ui/code.png");
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;

  .chevrons {
    margin: auto;
    cursor: pointer;
    position: relative;
    width: 28px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 400;
  }
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }

  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }

  .chevron:before,
  .chevron:after {
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: white;
  }

  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

  @keyframes move {
    25% {
      opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  @keyframes pulse {
    to {
      opacity: 1;
    }
  }

  .logo-bg-wrapper {
    // filter: drop-shadow(0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5));
    .logo-svg {
      position: absolute;
      width: 0;
      height: 0;
    }

    .logo-bg {
      width: 100vh;
      height: 100vw;
      max-width: 100vw;
      max-height: 100vh;
      background: $grey;
      background-attachment: fixed;
      background-repeat: repeat;
      background-size: auto 90%;
      animation: bgFrames 10s infinite;
      background-image: url("../public/ui/code.png");
      clip-path: url("#myClip");

      @keyframes bgFrames {
        0% {
          background-position: 0 500%;
        }
        50% {
          background-position: 0 0;
        }
        100% {
          background-position: 0 500%;
        }
      }
    }
  }
}

// .skills-wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;

//   img {
//     width: 30px;
//     height: 30px;
//   }
// }

.projects-section-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background: $grey;
  text-align: center;

  .projects-section-header {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .projects-section-title-wrapper {
      margin-top: 20px;
      display: inline-flex;
      align-items: baseline;
      font-weight: 800;
      line-height: 1;
      font-size: 2rem;

      .projects-section-title {
        color: white;
      }
      .color-blue {
        color: $blue;
      }
    }

    .projects-section-description {
      font-size: 1.3rem;
      width: 100%;
      color: white;
      text-align: center;
      font-weight: 300;
      margin-top: 20px;

      b {
        font-weight: 800;
      }
    }
  }

  .projects-content {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-x: scroll;
    height: 100%;
    width: 100%;

    .project-wrapper {
      flex-shrink: 0;
      width: 200px;
      height: 200px;
      border-radius: 5px;
      margin: 5px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $blue;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-blend-mode: multiply;
      position: relative;
      box-shadow: $box;

      // .project-color-overlay{
      //   width: 0;
      //   height: 0;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      //   padding: 100%;
      //   opacity: 1;
      //   background: $blue;
      //   filter: ;
      // }

      .project-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        line-height: 1;
        font-weight: 800;
        color: white;
      }

      .project-description-wrapper {
        width: 100%;

        a {
          color: white;
        }
      }
    }
  }
}

.contact-section-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $blue;

  p {
    font-size: 2rem;
    color: white;
    max-width: 500px;
    line-height: 1;
    margin: 10px;
    b {
      font-weight: 800;
    }
  }

  .contact-form-wrapper {
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    min-height: 200px;
    background: $grey;
    box-shadow: $box;

    form {
      display: flex;
      flex-direction: column;
      align-items: left;
      color: white;

      width: 100%;
      ::placeholder {
        color: rgba(255, 255, 255, 0.5);
        opacity: 1;
      }
      .email-field-wrapper {
        width: 100%;
        .email-field {
          margin: auto;
          width: 90%;
          margin-top: 15px;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 5px;
          }
          .email-input {
            padding: 5px;
            border-bottom: 1px solid white;
          }
        }
      }
      .message-field-wrapper {
        width: 100%;
        .message-field {
          margin: auto;
          width: 90%;
          min-height: 100px;
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 10px;
          }
          .message-input {
            height: 100px;
            max-height: 200px;
            padding: 5px;
            resize: vertical;
            border-bottom: 1px solid white;
          }
        }
      }
      .submit-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .submit-button {
          width: 80px;
          margin: 10px;
          padding: 5px;
          color: white;
          background: $blue;
          border-radius: 5px;
        }
      }
    }

  }
  .contact-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    a{
      margin: 5px;
      img {
        padding: 5px;
        width: auto;
        height: 50px;
      }
    }
  }
}

@media (min-width: 500px) {
  .projects-section-wrapper {

    .projects-section-header {
 
      .projects-section-title-wrapper {
        margin-top: 20px;
        font-size: 4rem;
        .projects-section-title {
          
        }

      }
  
      .projects-section-description {
        width: 50vw;
      }
    }
    .projects-content {
      width: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      overflow-x: hidden;
      .project-wrapper {
        flex-shrink: 1;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;

        .project-title {
        }
        .project-description-wrapper {
        }
        .project-image-wrapper {
          padding: 10px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .mobile-nav-wrapper,
  .hamburger-menu-wrapper {
    visibility: hidden;
  }

  .nav-wrapper {
    visibility: visible;
  }

  .home-wrapper {
    .content-wrapper {
      max-width: 400px;

      .social-links-and-logo-wrapper {
        .social-links-wrapper {
          .social-icon {
            width: 40px;
            height: 40px;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }

        .logo-wrapper {
          .icon-wrapper {
            width: 100px;
            height: 100px;
          }
        }
      }

      .skills-wrapper {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media (min-width: 735px) {
  .projects-section-wrapper {
    .projects-content {
      .project-wrapper {
        width: 400px;
        height: 400px;

        .project-title {
          font-size: 3rem;
        }
        .project-description-wrapper {
        }
        .project-image-wrapper {
        }
      }
    }
  }

  .modal-overlay {
    .close-icon {
    }

    .modal-content {
      width: 80vw;
      height: 80vh;
      display: flex;
      flex-direction: row;

      .screenshot-wrapper {
        margin-right: 20px;
        width: 70%;
        flex-direction: column;

        .current-slide-img-wrapper {
        
          #current-slide-img {
            width: 100%;
            max-width: 100%;
            margin-top: 0;
          }
        }

        #carousel-wrapper {
          width: 50%;
          height: 100px;
          .carousel-item {
            // overflow: hidden;
            // height: 200px;
            // position: relative;
          }

          .carousel-image {
            // width: 80%;
            // height: auto;
          }
        }
      }

      .slick-slide.slick-center {
        opacity: 1;
      }

      .slick-slider,
      .slick-list,
      .slick-track {
        height: 100%;
      }

      .slick-slide {
        // width: 100px;
        // height: 100px;
      }

      .slick-slide img {
        // width: 100px;
        // height: 100px;
      }

      .project-info-wrapper {
        width: 30%;

        #project-modal-title {
        }

        #project-modal-description {
        }
      }
    }
  }
}
