/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button, input, optgroup, select, textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background-color: #1e1e20;
  font-family: "Mukta", sans-serif;
}

html {
  overflow-x: hidden;
}

.loader-overlay {
  width: 100vw;
  height: 100vh;
  background: #16ade3;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.loader-overlay .loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader-overlay .loader-wrapper .loader, .loader-overlay .loader-wrapper .loader:before, .loader-overlay .loader-wrapper .loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader-overlay .loader-wrapper .loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader-overlay .loader-wrapper .loader:before, .loader-overlay .loader-wrapper .loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader-overlay .loader-wrapper .loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader-overlay .loader-wrapper .loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%, 80%, 100% {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.hide {
  visibility: hidden !important;
}

.active a {
  font-weight: 800 !important;
  color: #16ade3 !important;
}

.fade-in-modal-image {
  -webkit-animation: fadeInModalImage ease-in 0.5s;
  animation: fadeInModalImage ease-in 0.5s;
}

@-webkit-keyframes fadeInModalImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInModalImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-modal {
  animation: fadeInModal ease 1.5s;
  -webkit-animation: fadeInModal ease 1.5s;
  -moz-animation: fadeInModal ease 1.5s;
  -o-animation: fadeInModal ease 1.5s;
  -ms-animation: fadeInModal ease 1.5s;
}

@-webkit-keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.modal-overlay .close-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
}

.modal-overlay .close-icon img {
  width: 20px;
  height: 20px;
}

.modal-overlay .modal-content {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -43%);
  -ms-transform: translate(-50%, -43%);
  transform: translate(-50%, -43%);
  position: relative;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-overlay .modal-content .screenshot-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-overlay .modal-content .screenshot-wrapper .current-slide-img-wrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-overlay .modal-content .screenshot-wrapper .current-slide-img-wrapper #current-slide-img {
  width: 90vw;
}

.modal-overlay .modal-content .screenshot-wrapper #carousel-wrapper {
  width: 200px;
  height: 100px;
  margin-top: 20px;
}

.modal-overlay .modal-content .screenshot-wrapper .fade-in-carousel {
  animation: fadeInCarousel ease 1.5s;
  -webkit-animation: fadeInCarousel ease 1.5s;
  -moz-animation: fadeInCarousel ease 1.5s;
  -o-animation: fadeInCarousel ease 1.5s;
  -ms-animation: fadeInCarousel ease 1.5s;
}

@-webkit-keyframes fadeInCarousel {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInCarousel {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-overlay .modal-content .slick-slide.slick-center {
  opacity: 1;
}

.modal-overlay .modal-content .slick-slider, .modal-overlay .modal-content .slick-list, .modal-overlay .modal-content .slick-track {
  height: 100%;
}

.modal-overlay .modal-content .slick-slide {
  width: auto;
  height: 100px;
  opacity: 0.5;
}

.modal-overlay .modal-content .slick-slide img {
  width: auto;
  height: 100px;
}

.modal-overlay .modal-content .slick-prev:before {
  opacity: 1;
}

.modal-overlay .modal-content .slick-next:before {
  opacity: 1;
}

.modal-overlay .modal-content .slick-dots li button:before {
  color: white;
}

.modal-overlay .modal-content .project-info-wrapper {
  width: 100%;
}

.modal-overlay .modal-content .project-info-wrapper .project-modal-title-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-overlay .modal-content .project-info-wrapper .project-modal-title-wrapper .view-site-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
}

.modal-overlay .modal-content .project-info-wrapper .project-modal-title-wrapper .view-site-icons img {
  padding: 5px;
  width: 30px;
  height: 30px;
}

.modal-overlay .modal-content .project-info-wrapper #project-modal-title {
  font-size: 2rem;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-overlay .modal-content .project-info-wrapper #project-modal-description {
  font-size: 1rem;
  color: white;
  overflow-y: scroll;
  padding: 10px;
}

.modal-overlay .modal-content .project-info-wrapper .project-modal-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-overlay .modal-content .project-info-wrapper .project-modal-tech img {
  width: 40px;
  height: 40px;
}

.mobile-nav-wrapper {
  visibility: visible;
  height: 38px;
  width: 100vw;
  padding-left: 5px;
  padding-right: 5px;
  position: fixed;
  z-index: 50;
  background-color: #1e1e20;
}

.mobile-nav-wrapper img {
  width: 38px;
  height: 38px;
}

.hamburger-menu-wrapper {
  width: 50vw;
  visibility: hidden;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 60;
  background: #16ade3;
  -webkit-box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

.hamburger-menu-wrapper .active {
  color: white !important;
  background: white;
  border-bottom: none !important;
}

.hamburger-menu-wrapper .close-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 5px;
  position: relative;
}

.hamburger-menu-wrapper .close-button-wrapper .close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hamburger-menu-wrapper .close-button-wrapper .close-icon img {
  width: 30px;
  height: 30px;
}

.hamburger-menu-wrapper span {
  width: 100%;
  display: block;
  padding: 5px;
}

.hamburger-menu-wrapper span a {
  display: block;
  width: 100%;
  padding: 5px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.hamburger-menu-wrapper hr {
  border: none;
}

.nav-wrapper {
  visibility: hidden;
  padding: 0px 20px 0px 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 50;
}

.nav-wrapper .links-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #1e1e20;
  border-radius: 5px;
}

.nav-wrapper .links-wrapper a {
  padding: 0px 10px 0px 10px;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
  text-decoration: none;
}

.nav-wrapper .links-wrapper .link-divider {
  margin: 0px 5px 0px 5px;
  width: 0px;
  height: 0px;
}

.home-wrapper {
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: auto 50%;
  background-image: url("../public/ui/code.png");
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #16ade3;
}

.home-wrapper .chevrons {
  margin: auto;
  cursor: pointer;
  position: relative;
  width: 28px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
}

.home-wrapper .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
  animation: move 3s ease-out infinite;
}

.home-wrapper .chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
  animation: move 3s ease-out 1s infinite;
}

.home-wrapper .chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
  animation: move 3s ease-out 2s infinite;
}

.home-wrapper .chevron:before, .home-wrapper .chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: white;
}

.home-wrapper .chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
  -ms-transform: skew(0deg, 30deg);
  transform: skew(0deg, 30deg);
}

.home-wrapper .chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
  -ms-transform: skew(0deg, -30deg);
  transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes pulse {
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.home-wrapper .logo-bg-wrapper .logo-svg {
  position: absolute;
  width: 0;
  height: 0;
}

.home-wrapper .logo-bg-wrapper .logo-bg {
  width: 100vh;
  height: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: auto 90%;
  -webkit-clip-path: url("#myClip");
  clip-path: url("#myClip");
  position: relative;
}

.home-wrapper .logo-bg-wrapper .logo-bg .logo-bg-content {
  color: white;
  font-size: calc(0.8vw + 0.8vh);
  font-family: monospace;
  word-wrap: break-word;
  position: absolute;
  width: 100%;
  height: 100%;
}

.projects-section-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1rem;
  background: #1e1e20;
  text-align: center;
  position: relative;
}

.projects-section-wrapper .projects-section-header {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.projects-section-wrapper .projects-section-header .projects-section-title-wrapper {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-weight: 800;
  line-height: 1;
  font-size: 2rem;
}

.projects-section-wrapper .projects-section-header .projects-section-title-wrapper .projects-section-title {
  color: white;
}

.projects-section-wrapper .projects-section-header .projects-section-title-wrapper .color-blue {
  color: #16ade3;
}

.projects-section-wrapper .projects-section-header .projects-section-description {
  font-size: 1.3rem;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
}

.projects-section-wrapper .projects-section-header .projects-section-description b {
  font-weight: 800;
}

.projects-section-wrapper .projects-content {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}

.projects-section-wrapper .projects-content .project-wrapper {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #16ade3;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  position: relative;
  -webkit-box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
}

.projects-section-wrapper .projects-content .project-wrapper .project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  line-height: 1;
  font-weight: 800;
  color: white;
}

.projects-section-wrapper .projects-content .project-wrapper .project-description-wrapper {
  width: 100%;
}

.projects-section-wrapper .projects-content .project-wrapper .project-description-wrapper a {
  color: white;
}

.projects-section-wrapper .projects-content .project-wrapper:hover {
  -webkit-animation: scale-down-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-down-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}

.contact-section-wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #16ade3;
  position: relative;
}

.contact-section-wrapper p {
  font-size: 2rem;
  color: white;
  max-width: 500px;
  line-height: 1;
  margin: 10px;
}

.contact-section-wrapper p b {
  font-weight: 800;
}

.contact-section-wrapper .contact-form-wrapper {
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  min-height: 200px;
  background: #1e1e20;
  -webkit-box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
}

.contact-section-wrapper .contact-form-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  color: white;
  width: 100%;
}

.contact-section-wrapper .contact-form-wrapper form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.contact-section-wrapper .contact-form-wrapper form ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.contact-section-wrapper .contact-form-wrapper form :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.contact-section-wrapper .contact-form-wrapper form ::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.contact-section-wrapper .contact-form-wrapper form ::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.contact-section-wrapper .contact-form-wrapper form .email-field-wrapper {
  width: 100%;
}

.contact-section-wrapper .contact-form-wrapper form .email-field-wrapper .email-field {
  margin: auto;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-section-wrapper .contact-form-wrapper form .email-field-wrapper .email-field label {
  margin-bottom: 5px;
}

.contact-section-wrapper .contact-form-wrapper form .email-field-wrapper .email-field .email-input {
  padding: 5px;
  border-bottom: 1px solid white;
}

.contact-section-wrapper .contact-form-wrapper form .message-field-wrapper {
  width: 100%;
}

.contact-section-wrapper .contact-form-wrapper form .message-field-wrapper .message-field {
  margin: auto;
  width: 90%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-section-wrapper .contact-form-wrapper form .message-field-wrapper .message-field label {
  margin-bottom: 10px;
}

.contact-section-wrapper .contact-form-wrapper form .message-field-wrapper .message-field .message-input {
  height: 100px;
  max-height: 200px;
  padding: 5px;
  resize: vertical;
  border-bottom: 1px solid white;
}

.contact-section-wrapper .contact-form-wrapper form .submit-button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.contact-section-wrapper .contact-form-wrapper form .submit-button-wrapper .submit-button {
  width: 80px;
  margin: 10px;
  padding: 5px;
  color: white;
  background: #16ade3;
  border-radius: 5px;
}

.contact-section-wrapper .contact-links {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-section-wrapper .contact-links a {
  margin: 5px;
}

.contact-section-wrapper .contact-links a img {
  padding: 5px;
  width: auto;
  height: 50px;
}

@media (min-width: 500px) {
  .projects-section-wrapper .projects-section-header .projects-section-title-wrapper {
    margin-top: 20px;
    font-size: 4rem;
  }
  .projects-section-wrapper .projects-section-header .projects-section-description {
    width: 50vw;
  }
  .projects-section-wrapper .projects-content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-x: hidden;
  }
  .projects-section-wrapper .projects-content .project-wrapper {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin-left: 5px;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
  }
  .projects-section-wrapper .projects-content .project-wrapper .project-image-wrapper {
    padding: 10px;
  }
  .projects-section-wrapper .projects-content .project-wrapper .project-image-wrapper img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 600px) {
  .mobile-nav-wrapper, .hamburger-menu-wrapper {
    visibility: hidden;
  }
  .nav-wrapper {
    visibility: visible;
  }
  .home-wrapper .content-wrapper {
    max-width: 400px;
  }
  .home-wrapper .content-wrapper .social-links-and-logo-wrapper .social-links-wrapper .social-icon {
    width: 40px;
    height: 40px;
  }
  .home-wrapper .content-wrapper .social-links-and-logo-wrapper .social-links-wrapper .social-icon img {
    width: 25px;
    height: 25px;
  }
  .home-wrapper .content-wrapper .social-links-and-logo-wrapper .logo-wrapper .icon-wrapper {
    width: 100px;
    height: 100px;
  }
  .home-wrapper .content-wrapper .skills-wrapper img {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 735px) {
  .projects-section-wrapper .projects-content .project-wrapper {
    width: 400px;
    height: 400px;
  }
  .projects-section-wrapper .projects-content .project-wrapper .project-title {
    font-size: 3rem;
  }
  .modal-overlay .modal-content {
    width: 80vw;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .modal-overlay .modal-content .screenshot-wrapper {
    margin-right: 20px;
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .modal-overlay .modal-content .screenshot-wrapper .current-slide-img-wrapper #current-slide-img {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
  }
  .modal-overlay .modal-content .screenshot-wrapper #carousel-wrapper {
    width: 50%;
    height: 100px;
  }
  .modal-overlay .modal-content .slick-slide.slick-center {
    opacity: 1;
  }
  .modal-overlay .modal-content .slick-slider, .modal-overlay .modal-content .slick-list, .modal-overlay .modal-content .slick-track {
    height: 100%;
  }
  .modal-overlay .modal-content .project-info-wrapper {
    width: 30%;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}